@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General */
.border-container{
  margin: 0 3vw;
  border-radius: 20px;
  overflow: hidden;
}

.article-outer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-container{
  width: 50%;
}

.section-title{
  font-weight: 750;
  font-size: 40px;
}

.article-text{
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 2.25rem;
}

.article-viz{
  width: 100%;
  padding: 20px 0;
}

.link{
  color: #A85311;
}

/* Navigation Bar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  position: sticky;
  top: 0;
  z-index: 1000000;
  height: 5vh;
  background-color: #ffffff;
}

#logo {
  font-weight: 400;
  font-size: 35px;
  text-decoration: none;
  color: #121212;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0;
  z-index: 1000000;
  height: inherit;
}

#logo-text {
  font-style: italic;
  transition: 0.3s ease;
  /*   -webkit-text-stroke: 1px #000000; */
}

#logo-text:hover {
  cursor: pointer;
  transform: scale(0.85);
  transition: 0.3s ease;
}

#menu-button {
  width: 35px;
  z-index: 2;
  padding-left: 15px;
  width: 50px;
}

#menu-button span {
  display: block;
  width: 100%;
}

.blank-span {
  height: 0.5vh;
  background-color: transparent;
}

.filled-span {
  height: 0.6vh;
  background-color: #121212;
}

#menu-button:hover {
  cursor: pointer;
  animation: wobble 0.4s;
}

.action {
  background-color: #A85311;
  color: #ffffff;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 12px;
}

.action-medium {
  background-color: #A85311;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

.menu-right {
  display: flex;
  align-items: center;
}

#menu {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.25px solid #999999;
}

#menu-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 3vw 7vh 3vw;
  width: 100%;
}

.menu-item {
  color: black;
  text-decoration: none;
  font-size: 25px;
  width: 30%;
  padding: 1vh 0;
  margin: 1vh 0;
  border-bottom: 0.25px solid #999999;
  transition: 0.1s ease;
}

.menu-item:hover {
  color: #A85311;
  font-weight: 600;
  transition: 0.1s ease;
}

/* Landing Component */
.landing-title{
  margin: 30px 0;
  font-size: 95px;
  font-weight: 300;
}

.landing-subtitle{
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.landing-text{
  width: 85%;
  text-align: center;
  color: #ffffff;
}